<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body onload="subPageContentLoad(`<%=unfilter(JSON.stringify(dbData))%>`, '<%= user_favourite %>', '<%= user_name %>');">
    <script type="text/javascript" src="/main.js"></script>
    <%- include('header') %>

    <main>
        <!-- Form đăng tải phim -->
        <section class="upload-film">
            <h1>ĐĂNG TẢI PHIM NGAY</h1>
            <form action="/submit" method="post" id="film-upload-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Tên phim:</label>
                    <input type="text" id="name" name="name" placeholder="Tên phim" pattern="^[^`]*$" required>
                </div>
                <div class="form-group">
                    <label for="description">Mô tả phim:</label>
                    <textarea id="description" name="description" rows="6" placeholder="Mô tả phim" pattern="^[^`]*$" required></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" id="author" name="author" value="<%= user_name %>">
                </div>
                <div class="form-group">
                    <input type="hidden" id="upload-time" name="time">
                </div>
                
                <div class="form-group">
                    <label for="url">Thumbnail:</label>
                    <input type="file" id="url" name="url" accept="image/png, image/jpeg, image/jpg" required>
                    <p id="thumbnail-file-name"></p>
                </div>
                
                <div class="form-group">
                    <label for="source">Tải video:</label>
                    <input type="file" id="source" name="source" accept="video/mp4, video/mkv, video/avi" required>
                    <p id="video-file-name"></p>
                </div>
                <button type="submit" class="submit-btn"><b>Đăng tải phim</b></button>
            </form>
        </section>
    </main>

    <footer>
        <div class="about" id="about">
            <p>Conluong - 2024</p>
        </div>
        <div class="contact">
            <p>Contact: <a href="#">Conluong@gmail.com</a></p>
        </div>
    </footer>
    <!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>