<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style>
		.delete-form-row {
		display: flex;
		align-items: left;
		gap: 10px; /* Space between the input and button */
		margin-bottom: 10px; /* Space below the row */
	}

	.reason-input {
		flex: 1; /* Allow the textarea to take up available space */
		padding: 5px;
	}
	.delete-btn {
		flex: 2;
		padding: 5px;
		margin: 0;
	}
	</style>
</head>

<body onload="loadFilm('<%= url %>', `<%=unfilter(JSON.stringify(dbData))%>`, '<%= user_favourite %>')">
	<script type="text/javascript" src="/responsive.js"></script>
	<script type="text/javascript" src="/main.js"></script>
    <%- include('header') %>
	<main>
		<iframe id="video" width="1152" height="648" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<div class="details" id="details">
			<div class="title-and-buttons">
				<h1 class="name film-name" id="film-name">Phim lỗi</h1>
				<div class="buttons">
					<form action="/fav" method="post" id="fav-form" style="display: inline;">
						<input type="text" id="fav_film" name="fav_film" style="display: none;">
						<button type="submit" class="fav-btn" id="fav-btn"><b>Theo dõi</b></button>
					</form>
				</div>
			</div>
			<p class="upload-time">
				<b>Thời gian tải lên:</b>
				<span id="film-upload-time"></span>
			</p>
			<p class="author">
				<b>Tác giả:</b>
				<a href="/user/<%= user_name %>" class="author-link" id = "author-name"><%= user_name %></a>
			</p>
			<p class="description" id="film-description"></p>
			<!-- Download Button -->
			<a id="download-btn" href="#" class="download-btn"><b>Tải phim</b></a>
			<% if (user_mod) { %>
				<!-- Small Button to Show Delete Form -->
				<button id="check-admin-btn" class="check-admin-btn download-btn" onclick="toggleDeleteForm()">Xóa phim</button>
			
				<!-- Delete Form -->
				<form id="delete-form" action="/delete-film" method="POST" style="margin-top: 10px; display: none;" onsubmit="return confirm('Bạn có chắc muốn xóa phim này?');">
					<input type="hidden" name="filmId" value="<%= url.split('watch/')[1]%>">
					<div class="delete-form-row">
						<textarea name="reason" placeholder="Lí do xóa" class="reason-input" required></textarea>
						<button type="submit" class="delete-btn">Xóa phim</button>
						<div id="loading">
							<img src="/loading.gif" alt="Loading..." style="height: 50%;">
						</div>
					</div>
				</form>
			<% } %>
		</div>
		<hr>
	</main>
    <%- include('footer.ejs') %>
	<!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>