<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body onload="loadFilm('<%= url %>', `<%=unfilter(JSON.stringify(dbData))%>`, '<%= user_favourite %>')">
	<script type="text/javascript" src="/responsive.js"></script>
	<script type="text/javascript" src="/main.js"></script>
    <%- include('header') %>
	<main>
		<iframe id="video" width="1152" height="648" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<div class="details" id="details">
			<div class="title-and-buttons">
				<h1 class="name film-name" id="film-name">Phim lỗi</h1>
				<div class="buttons">
					<form action="/fav" method="post" id="fav-form" style="display: inline;">
						<input type="text" id="fav_film" name="fav_film" style="display: none;">
						<button type="submit" class="fav-btn" id="fav-btn"><b>Theo dõi</b></button>
					</form>
				</div>
			</div>
			<p class="upload-time">
				<b>Thời gian tải lên:</b>
				<span id="film-upload-time"></span>
			</p>
			<p class="author">
				<b>Tác giả:</b>
				<a href="/user/<%= user_name %>" class="author-link" id = "author-name"><%= user_name %></a>
			</p>
			<p class="description" id="film-description"></p>
			<!-- Download Button -->
			<a id="download-btn" href="#" class="download-btn" download><b>Tải phim</b></a>
		</div>
		<hr>
	</main>
    <%- include('footer.ejs') %>
	<!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>